<%= image_tag 'sing_logo.png', :id => "logo" %>

<div class="background_index">
  <div class="About">

    <h3>Sponsor Park Slope Singers in our <br><a href="/support" id="anniversary_text">25th Anniversary Season</a></h3>

    <h4>Spring Concert: June 2nd and 3rd, 2018 (details to come)</h4>
    
    <h4>Winter Concert: If We Must Marvel</h4><br>

    <img id="concert_image" src="<%= image_path "marvel_concert.png" %>">

    <!-- <h4>Saturday, January 27 at 2:00pm</h4>
    <p class="concert_text">Saint Saviour Church
    <br>611 8th Avenue (at 6th Street), Brooklyn NY</p>

    <h4>Sunday, January 28 at 3:00pm</h4>
    <p class="concert_text">Lutheran Church of the Good Shepherd
    <br>7420 4th Avenue (at 74th Street), Brooklyn NY</p><br> -->

    <p class="concert_text">Our January 2018 concert featured songs that celebrate creation, nature and human achievement. The music ranged from Renaissance composers such as Josquin des Pres and Manuel Cardoso to contemporary ones such as Eric Whitacre, Ron Jeffers, and Steven Sametz. Works included <em>Leonardo Dreams of His Flying Machine</em>, <em>Five Days that Changed the World</em>, and <em>Missa Charles Darwin</em>.</p>

    <p>Additionally, we had the honor of being introduced by ___ from the mayor's office, and received commendations from both Mayor Bill de Blasio and Eric L. Adams, President of the Borough of Brooklyn.</p>

    <img id="citation_left" src="<%= image_path "brooklyn_citation.JPG" %>">
    <img id="citation_right" src="<%= image_path "mayor_citation.JPG" %>">



<!--     <h4>Presenting Sponsor:</h4>

    <div class="sponsors">
      <a class="sponsor" href="http://www.brewsterfp.com/" target="_blank"><img src="<%= image_path "brewster.png" %>"></a>
    </div> -->

    <br>

    <!-- <a href="http://parkslopesingers.bpt.me/" target="_blank"><button>Purchase Tickets</button></a> -->

    <hr id="line1">
    <hr id="line2">

    <p style="text-align:center">To receive announcements from Park Slope Singers, please join our mailing list.</p>
    <a href="http://parkslopesingers.us3.list-manage.com/subscribe?u=eb16d8cbf3c57fa80c6183b66&id=545cd159e1"><button>Join Our Mailing List</button></a>
  </div>
</div>
