<div class="Background">
	<div class="About">
	<h2>PSS in Performance</h2>
		<h4>Joseph Haydn, <em>Lord Nelson Mass: IV. Gloria</em>: June 2014</h4>
		<iframe width="800" height="450" src="https://www.youtube.com/embed/uAErftjoa8Q" frameborder="0" allowfullscreen></iframe>
		<br><br>

		<hr id="line1">
		<hr id="line2">
		<h2>PSS Audio</h2>
		<p>
			<audio controls>
				<source src=<%= asset_path "thanksgod.mp3" %> type="audio/mpeg">
			</audio><br>
			Jun 2012: <em>Thanks Be To God</em> (Mendelssohn, <em>Elijah Part I</em>; Soloist: Ira Spaulding)<br><br>

<!-- 			<audio controls>
				<source src=<%= asset_path "buked.mp3" %> type="audio/mpeg">
			</audio><br> 
			Jan 2010: <em>I've Been 'Buked</em><br><br> -->

			<audio controls>
				<source src=<%= asset_path "shenandoah.mp3" %> type="audio/mpeg">
			</audio><br> 
			Jan 2010: <em>Shenandoah</em><br><br>
			
<!-- 			<audio controls>
				<source src=<%= asset_path "shirshomrim.mp3" %> type="audio/mpeg">
			</audio><br> 
			Jan 2010: <em>Shir Shomrim</em> (Soloist: Ira Spaulding)<br><br>
			 -->
			<audio controls>
				<source src=<%= asset_path "everybird.mp3" %> type="audio/mpeg">
			</audio><br> 
			Jan 2010: <em>Every Bird That Soars The Sky</em> (Brahms, <em>Liebeslieder Waltzer #13</em> )<br><br>

<!-- 			<audio controls>
				<source src=<%= asset_path "riverside.mp3" %> type="audio/mpeg">
			</audio><br>
			Jan 2009: <em>Down By The Riverside</em><br><br> -->
			
<!-- 			<audio controls>
				<source src=<%= asset_path "shiningnight.mp3" %> type="audio/mpeg">
			</audio><br>
			Jan 2009: <em>Sure On This Shining Night</em><br><br> -->
		</p>
	</div>
</div>