<!DOCTYPE html>
<html>
<head>
  <title>Park Slope Singers</title>
  <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Charm|Playfair+Display" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<nav id="main_nav">
		<a href="/">Home</a> |
		<a href="/about">About</a> |
		<a href="/multimedia">Multimedia</a> |
		<a href="/support">Support</a> |
		<a href="/join">Contact</a> |
		<a href="/session/new">Members</a>
	</nav>
<!-- 	<hr id="line1">
	<hr id="line2"> -->

	<%= yield %>

	<footer>
		<a id="link" href="https://twitter.com/ParkSlopeSinger" target="_blank"><%= image_tag "twitter.png" %></a>
		<a id="link" href="https://www.facebook.com/groups/129128933777344/" target="_blank"><%= image_tag "facebook.png" %></a>
		<a id="link" href="https://www.youtube.com/channel/UCTHun4o1XegEHwPtgZnJC6Q" target="_blank"><%= image_tag "youtube.png" %></a>
		<p id="copy">park slope singers &copy; 2018</p>
	</footer>

</body>
</html>
