<div class="Background">
  <div class="About">

  <br>
  <nav class="members_nav">
    <a href="/members/<%= @member.id %>">Member Home</a> | 
    <a href="/session/destroy">Log Out</a>
  </nav>

  <h2>Edit Members</h2>

  <h3>Directors</h3>
  <ul class="dress_code">
    <% @admin.each do |member| %>
      <li><%= member.f_name %> <%= member.l_name %> | <%= member.email %> | <a href="/members/<%= member.id %>/destroy">DELETE</a> </li>
    <% end %>
  </ul>

  <h3>Sopranos</h3>
  <ul class="dress_code">
    <% @sopranos.each do |member| %>
      <li><%= member.f_name %> <%= member.l_name %> | <%= member.email %> | <a href="/members/<%= member.id %>/destroy">DELETE</a> </li>
    <% end %>
  </ul>

  <h3>Altos</h3>
  <ul class="dress_code">
    <% @altos.each do |member| %>
      <li><%= member.f_name %> <%= member.l_name %> | <%= member.email %> | <a href="/members/<%= member.id %>/destroy">DELETE</a> </li>
    <% end %>
  </ul>

  <h3>Tenors</h3>
  <ul class="dress_code">
    <% @tenors.each do |member| %>
      <li><%= member.f_name %> <%= member.l_name %> | <%= member.email %> | <a href="/members/<%= member.id %>/destroy">DELETE</a> </li>
    <% end %>
  </ul>

  <h3>Baritones</h3>
  <ul class="dress_code">
    <% @baritones.each do |member| %>
      <li><%= member.f_name %> <%= member.l_name %> | <%= member.email %> | <a href="/members/<%= member.id %>/destroy">DELETE</a> </li>
    <% end %>
  </ul>

  <h3>Basses</h3>
  <ul class="dress_code">
    <% @basses.each do |member| %>
      <li><%= member.f_name %> <%= member.l_name %> | <%= member.email %> | <a href="/members/<%= member.id %>/destroy">DELETE</a> </li>
    <% end %>
  </ul>

  <h3>Other</h3>
  <ul class="dress_code">
    <% @other.each do |member| %>
      <li><%= member.f_name %> <%= member.l_name %> | <%= member.email %> | <%= member.section %> | <a href="/members/<%= member.id %>/destroy">DELETE</a> </li>
    <% end %>
  </ul>

  <a href="/members/new"><button>New Member</button></a>

  </div>
</div>
