<div class="Background">
	<div class="About">

		<br>
		<nav class="members_nav">
			<a href="/members/<%= @member.id %>">Member Home</a> | 
			<a href="/members/roster">Roster</a> | 
			<a href="/members/tracks">Track Listings</a> | 
			<a href="/members/schedule">Schedule</a> | 
			<a href="/members/dress_code">Dress Code</a> | 
			<a href="/members/bylaws">By-Laws</a> | 
			<a href="/session/destroy">Log Out</a>
		</nav>

		<h2>Edit Your Information</h2>

		<form action="/members/<%= @member.id %>"  method="POST">
			<input type="hidden" name="_method" value="PUT"/>
			<center>
			<table border="0" cellpadding="10" class="form">
				<tr>
						<td>First Name:</td>
						<td><input class="input" type="text" name="f_name" value="<%= @member.f_name %>" required></td>
				</tr>
				<tr>
						<td>Last Name:</td>
						<td><input class="input" type="text" name="l_name" value="<%= @member.l_name %>" required></td>
				</tr>
				<tr>
						<td>Address:</td>
						<td><input class="input" type="text" name="address" value="<%= @member.address %>" required></td>
				</tr>
				<tr>
						<td>Phone Number:</td>
						<td><input class="input" type="text" name="phone_number" value="<%= @member.phone_number %>" required></td>
				</tr>
				<tr>
						<td>Email:</td>
						<td><input class="input" type="email" name="email" value="<%= @member.email %>" required></td>
				</tr>
				<tr>
						<td>Password:</td>
						<td> <input class="input" type="password" name="password" value="<%= @member.password %>" required></td>
						<input name="authenticity_token" value="<%= form_authenticity_token() %>" type="hidden" />
				</tr>
			</table></br></br>
			<button>Submit Changes</button>
			</center>
		</form>
		<br>
		<a href="/members/<%= @member.id %>"><button>Cancel Changes</button></a>
		
	</div>
</div>