<div class="Background">
  <div class="About">

    <br>
    <nav class="members_nav">
      <a href="/members/<%= @member.id %>">Member Home</a> | 
      <a href="/members/roster">Roster</a> | 
      <a href="/members/tracks">Music</a> | 
      <a href="/members/schedule">Schedule</a> | 
      <a href="/members/dress_code">Dress Code</a> | 
      <a href="/members/bylaws">By-Laws</a> | 
      <a href="/session/destroy">Log Out</a>
    </nav>

    <h2>Member Roster</h2>
    <h3>Fall 2016</h3>

    <h5>**This roster is in the process of being updated.**<br>If you notice that your personal information is incorrect, please go to the<br>Member Home and click "Edit Your Info" to make changes.</h5>

    <h4>Directors</h4>

    <table border="1" cellpadding="10" class="support" style="font-size:1em">
      <tr>
        <th>Name</th>
        <th>Title</th>
        <th>Email</th>
        <th>Address</th>
        <th>Phone Number</th>
      </tr>
      <% @admin.each do |member| %>
        <tr>
          <td><%= member.f_name %> <%= member.l_name %></td>
          <td><%= member.section %></td>
          <td><%= member.email %></td>
          <td><%= member.address %></td>
          <td><%= member.phone_number %></td>
        </tr>
      <% end %>
    </table>

    <h4>Sopranos</h4>

    <table border="1" cellpadding="10" class="support" style="font-size:1em">
      <tr>
        <th>Name</th>
        <th>Section</th>
        <th>Email</th>
        <th>Address</th>
        <th>Phone Number</th>
      </tr>
      <% @sopranos.each do |member| %>
        <tr>
          <td><%= member.f_name %> <%= member.l_name %></td>
          <td><%= member.section %></td>
          <td><%= member.email %></td>
          <td><%= member.address %></td>
          <td><%= member.phone_number %></td>
        </tr>
      <% end %>
    </table>

    <h4>Altos</h4>

    <table border="1" cellpadding="10" class="support" style="font-size:1em">
      <tr>
        <th>Name</th>
        <th>Section</th>
        <th>Email</th>
        <th>Address</th>
        <th>Phone Number</th>
      </tr>
      <% @altos.each do |member| %>
        <tr>
          <td><%= member.f_name %> <%= member.l_name %></td>
          <td><%= member.section %></td>
          <td><%= member.email %></td>
          <td><%= member.address %></td>
          <td><%= member.phone_number %></td>
        </tr>
      <% end %>
    </table>

    <h4>Tenors</h4>

    <table border="1" cellpadding="10" class="support" style="font-size:1em">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Phone Number</th>
      </tr>
      <% @tenors.each do |member| %>
        <tr>
          <td><%= member.f_name %> <%= member.l_name %></td>
          <td><%= member.email %></td>
          <td><%= member.address %></td>
          <td><%= member.phone_number %></td>
        </tr>
      <% end %>
    </table>

    <h4>Baritones</h4>

    <table border="1" cellpadding="10" class="support" style="font-size:1em">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Phone Number</th>
      </tr>
      <% @baritones.each do |member| %>
        <tr>
          <td><%= member.f_name %> <%= member.l_name %></td>
          <td><%= member.email %></td>
          <td><%= member.address %></td>
          <td><%= member.phone_number %></td>
        </tr>
      <% end %>
    </table>

    <h4>Basses</h4>

    <table border="1" cellpadding="10" class="support" style="font-size:1em">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Phone Number</th>
      </tr>
      <% @basses.each do |member| %>
        <tr>
          <td><%= member.f_name %> <%= member.l_name %></td>
          <td><%= member.email %></td>
          <td><%= member.address %></td>
          <td><%= member.phone_number %></td>
        </tr>
      <% end %>
    </table>

  </div>
</div>
