<div class="Background">
	<div class="About">

		<br>
    <nav class="members_nav">
      <a href="/members/<%= @member.id %>">Member Home</a> | 
      <a href="/members/roster">Roster</a> | 
      <a href="/members/tracks">Track Listings</a> | 
      <a href="/members/schedule">Schedule</a> | 
      <a href="/members/dress_code">Dress Code</a> | 
      <a href="/members/bylaws">By-Laws</a> | 
      <a href="/session/destroy">Log Out</a>
    </nav>

		<h2>Member Area</h2>
		<h3>Welcome, <%= @member.f_name %>!</h3>

		<div id="member_info">
		  <ul>
			<li><strong>Your Information</strong></li><br>
			<li><strong>Name:</strong> <%= @member.f_name %> <%= @member.l_name %></li>
			<li><strong>Email:</strong> <%= @member.email %></li>
			<li><strong>Phone Number:</strong> <%= @member.phone_number %></li>
			<li><strong>Address:</strong> <%= @member.address %></li>
			<li><strong>Section:</strong> <%= @member.section %></li>
		  </ul>
		</div>

		<a href="/members/<%= @member.id %>/edit"><button>Edit Your Info</button></a>

			<hr id="line1">
			<hr id="line2">

			<h2>Announcements</h2>

	    <h3><em>As of December 9, 2015</em></h3>

	    <p><strong>For Next Week's Rehearsal (December 14th):</strong> For next week, we'll continue our work in movements three and six. Given the difficulty of this music, it is extremely important that you spend some time preparing on your own before Monday evening. We will rehearse movement three up to the fugue and movement six starting with the fugue. The most important material to review is movement three from Letter F (measure 144) to the fugue (measure 173). Those thirty measly bars are wildly treacherous and will require some serious time spent in preparation. Second most important would be the fugue in movement six.</p>

	    <p>Please pay your dues if you haven't already! It's $160.00 for the semester, and we would like to have all member dues collected by December. If you would like to purchase your copy of the Brahms Requiem, it costs $4.60. You can give Rick a check or cash.</p>

		<a href="/members/admin"><button>Admin Log-In</button></a>
	</div>
</div>