<div class="Background">
  <div class="About">

    <br>
    <nav class="members_nav">
      <a href="/members/<%= @member.id %>">Member Home</a> | 
      <a href="/members/roster">Roster</a> | 
      <a href="/members/tracks">Music</a> | 
      <a href="/members/schedule">Schedule</a> | 
      <a href="/members/dress_code">Dress Code</a> | 
      <a href="/members/bylaws">By-Laws</a> | 
      <a href="/session/destroy">Log Out</a>
    </nav>

    <h2>Member Area</h2>
    <h3>Welcome, <%= @member.f_name %>!</h3>

    <% if @member.section != "Guest" %>
      <div id="member_info">
        <ul>
          <li><strong>Your Information</strong></li><br>
          <li><strong>Name:</strong> <%= @member.f_name %> <%= @member.l_name %></li>
          <li><strong>Email:</strong> <%= @member.email %></li>
          <li><strong>Phone Number:</strong> <%= @member.phone_number %></li>
          <li><strong>Address:</strong> <%= @member.address %></li>
          <li><strong>Section:</strong> <%= @member.section %></li>
        </ul>
      </div>

      <a href="/members/<%= @member.id %>/edit"><button>Edit Your Info</button></a>
    <% end %>

    <% if @member.section == "Guest" %>
      <div id="member_info">
        <p>If you are a new member without a log in, or if you are a current member but have forgotten your email or password, please email Gretchen at <a href="mailto:gretchenziegler@gmail.com?Subject=PSS%20Member" target="_top">gretchenziegler@gmail.com</a>.</p>
      </div>
    <% end %>

      <hr id="line1">
      <hr id="line2">

      <h2>Announcements</h2>

      <h3><em>As of October 10, 2016</em></h3>

      <p>We have our first Saturday rehearsal <strong>October 15th from 10:00 to 3:00.</strong> We will begin rehearsal in the church. Please bring your lunch with you.</p>

      <p>If you have yet to pay your dues for the semester, please pay Rick at your earliest convenience. Dues are $160 ($30 of which goes toward member tickets for this semester's concert).</p>


    <a href="/members/admin"><button>Admin Log-In</button></a>
  </div>
</div>