<div class="Background">
	<div class="About">
		
		<br>
    <nav class="members_nav">
      <a href="/members/<%= @member.id %>">Member Home</a> | 
      <a href="/members/roster">Roster</a> | 
      <a href="/members/tracks">Music</a> | 
      <a href="/members/schedule">Schedule</a> | 
      <a href="/members/dress_code">Dress Code</a> | 
      <a href="/members/bylaws">By-Laws</a> | 
      <a href="/session/destroy">Log Out</a>
    </nav>

		<h2>Concert Repertoire: Fall 2016</h2>

    <h3>Rehearsal Tracks</h3>
    <p>Click <a href="http://www.partrecordings.com/honorchoir.php" target="_blank"><u>here</u></a> to access the rehearsal tracks. Please do not download unless you really need them, and don't download more than once (each download costs the choir $5.00).</p>
    <p>Choir ID: pss16fall</p>
    <p>Password: verdi888</p>

    <h3>Hard Copies:</h3>
    <ul>
      <li><em>The World Beloved: A Bluegrass Mass,</em> Carol Barnett</li>
      <li><em>Faith is the Bird,</em> Elizabeth Alexander (Sopranos and Altos only)</li>
      <li><em>Little Elegy,</em> Stephen Paulus</li>
      <li><em>God is Seen,</em> arr. Alice Parker</li>
      <li><em>Down by the Riverside,</em> arr. Stacey Gibbs</li>
      <li><em>On a Clear Day,</em> Burton Lane</li>
      <li><em>Take Me to the Water,</em> arr. Alice Parker</li>
      <li><em>McKay,</em> Carol Barnett</li>
    </ul>

    <h3>Downloads:</h3>
    <ul>
      <li><em>Down in the River to Pray,</em> arr. Josh Perry-Parrish (Tenors, Baritones, and Basses only) | <u><%= link_to "download PDF", "/down_river.pdf", target: "_blank" %></u></li>
      <li><em>Top of the World,</em> The Carpenters | <u><%= link_to "download PDF", "/top_world.pdf", target: "_blank" %></u></li>
      <li><em>i thank You God,</em> Elliot Levine | <u><%= link_to "download PDF", "/thank_you.pdf", target: "_blank" %></u></li>
      <li><em>Now is the Cool of the Day,</em> Jean Ritchie | <u><%= link_to "download PDF", "/cool.pdf", target: "_blank" %></u></li>
      <li><em>To My Old Brown Earth, </em> Pete Seeger | <u><%= link_to "download PDF", "/brown_earth.pdf", target: "_blank" %></u></li>
    </ul>

    <h3>Resources</h3>

    <ul>
      <li><a href="https://open.spotify.com/user/gretchenziegler/playlist/4qfYM4uoZO5RohsdeRYyzo" target="_blank">Spotify Playlist: PSS Fall 2016</a></li>
      <li><a href="https://www.youtube.com/watch?v=H4YwKPOgz5o&feature=youtu.be" target="_blank">Video: Pete Seeger's "To My Old Brown Earth"</a></li>
      <li><a href="https://soundcloud.com/cc_chameleonic/the-carpenters-top-of-the-world" target="_blank">Recording: "Top of the World" performed by Chameleonic</a></li>
    </ul>

    <img src="http://liveatnectars.com/wp-content/uploads/2014/07/Bluegrass-Thursday-Stock.jpg">

	</div>
</div>